#Negro{
    width: 50%;
    background-color:rgb(43, 36, 28);
    border-radius: 5px;
    color: bisque;
  }
  
  #Blanco{
    width: 50%;
    background-color: bisque;
    border-radius: 5px;
  }
  
  #carrito{
    border-radius: 20px;
  }
  
  #apartar{
    border-radius: 20px;
  }
  
  #card{
    border-color: bisque;
    border-radius: 15px;
    border-width: 5px;
  }
  
  .circular--landscape {
    margin-right: 5em;
  }
  
  
  
  .card-img-top{
    width: 20em;
    height: 20em;
    border-radius: 100%;
  }
  
  table{
    border-radius: 50px;
  }
  
  h5{
    margin: 10px;
  }