<ng-container *ngIf="admin && !editarBoton && !agregarBoton"> 
    <div class="btn-group">
        <button type="submit" class="btn btn-primary" (click)="agregar()" style="margin-left: 10%;">Agregar compra</button>
    </div>


<div class="container mt-5">
    <ng-container *ngFor="let compra of compras | paginate: { itemsPerPage: 5, currentPage: p }">
    <div id="card" class="card my-3">
        
        <div class="card-title">
          <table>
            <tr>
                <ng-container *ngFor="let usuario of usuarios">
                    <ng-container *ngIF="usuario._id == compra.id_usuario">
                        <h3 class="card-title">Usuario: {{usuario.correo}}</h3>
                    </ng-container>
                </ng-container>
                <p class="card-text"> </p>
                <button type="submit" class="btn btn-primary" (click)="EditarCompra(compra._id)" style="margin-left: 10%;" >Editar </button>
                <button type="button" class="btn btn-danger" (click)="eliminar(compra._id)" style="margin-left: 10%;" aria-haspopup="true" aria-expanded="false">Eliminar</button>
    
      
            </table>
         
        </div>
      </div>
        
    </ng-container>
    
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    
          
          
</div>

</ng-container>


<!--PARTE PARA EDITAR EMPLEADO-->
<!--
<ng-container *ngIf="admin && editarBoton && !agregarBoton">
    <div class="form-row">
        <div class="col">
            <label for="placa">Placa</label>
            <input type="text" class="form-control" id="placa" aria-describedby="placa" [(ngModel)]="compra.placa" >
        </div>
        <div class="col">
            <label for="fecha_compra">Fecha compra</label>
            <input type="date" class="form-control" id="fecha_compra" aria-describedby="fecha_compra" [(ngModel)]="compra.fecha_compra"  >
        </div>
        
    </div>
  
  <br>
  <div class="form-row"> 
    <div class="col">
      <button type="submit" class="btn btn-primary" (click)="editarBase()">Editar</button>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary" (click)="regresar()">Regresar</button>
    </div>
  </div>
  
  
  </ng-container>
  
-->



<!--PARTE PARA AGREGAR EMPLEADO-->
<!--
<ng-container *ngIf="admin && !editarBoton && agregarBoton">
    <div class="form-row">
        <div class="col">
            <label for="placa">Placa</label>
            <input type="text" class="form-control" id="placa" aria-describedby="placa" [(ngModel)]="compra.placa" >
        </div>
        <div class="col">
            <label for="fecha_compra">Fecha compra</label>
            <input type="date" class="form-control" id="fecha_compra" aria-describedby="fecha_compra" [(ngModel)]="compra.fecha_compra"  >
        </div>
        
    </div>
  <br>
  <div class="form-row"> 
    <div class="col">
      <button type="submit" class="btn btn-primary" (click)="agregarBase()">Agregar</button>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary" (click)="regresar()">Regresar</button>
    </div>
  </div>
  
  
  </ng-container>
  
  
  
    -->