
<button id="carrito" type="button" (click)="Pagar()" routerLink="/carrito" class="btn btn-outline-dark btn-lg btn-block"><i class="fa fa-shopping-cart"></i> Ir a pagar</button>
<div class="btn-group">
  <h5>Categorias: </h5>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{categoriaSeleccionada}}
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" (click)="ngOnInit()">Todos</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" (click)="base()">Base</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" (click)="Blush()">Blush</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" (click)="Cancealer()">Cancealer</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" (click)="Highlight()">Highlight</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" (click)="Labios()">Labios</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" (click)="Lapiz()">Lapiz</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" (click)="Powder()">Powder</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" (click)="Skincare()">Skincare</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" (click)="Sombras()">Sombras</a>
    <div class="dropdown-divider"></div>
    
    

    
  </div>
</div>


<div class="container mt-5">
<ng-container *ngFor="let producto of productos | paginate: { itemsPerPage: 5, currentPage: p }">
<div id="card" class="card my-3">
    
    <div class="card-title">
      <table>
        <tr>
          <td>
              <div class="circular--landscape">
                <a href="{{producto.link_producto_pagina}}" target="_blank">
                  <img class="card-img-top" src="{{producto.link_imagen}}" alt="Card image cap" >
                </a>
              </div>
            </td>
          <td>
            <h3 class="card-title">{{producto.nombre}}</h3>
            <h4 class="card-text">Marca: {{producto.marca}}</h4>
            <p class="card-text">{{producto.descripcion}}</p>
            <button id="carrito" type="button" (click)="AgregarCarrito(producto._id)" class="btn btn-outline-dark btn-lg btn-block"><i class="fa fa-shopping-cart"></i> Comprar</button>      </table>
      <table class="table " id="TablaProducto">
        <tr>
          <th id="Negro"> Precio</th>
          <td id="Blanco">{{producto.precio}}</td>
        </tr>
        <tr>
          <th  scope="row" id="Negro">Categoria</th>
          <td id="Blanco">{{producto.categoria}}</td>
        </tr>
        <tr>
          <th id="Negro" scope="row" >Peso</th>
          <td id="Blanco">{{producto.peso}}</td>
        </tr>
        <tr>
          <th id="Negro" >Acabado</th>
          <td id="Blanco">{{producto.acabado}}</td>
          
        </tr>
        <tr>
          <th id="Negro" >Status</th>
          <td id="Blanco">{{producto.status}}</td>
        </tr>
        <ng-container *ngIf="producto.notas">
          <tr>
            <th id="Negro" >Notas</th>
            <td id="Blanco">{{producto.notas}}</td>
          </tr>
      </ng-container>

    
      
  
      </table>
    </div>
  </div>
    
</ng-container>

<pagination-controls (pageChange)="p = $event"></pagination-controls>

      
      
    </div>
    <div class="card-body">
      </div>



<ng-container *ngIf="admin">
  hola
</ng-container>
  

